$main-color: #fff;
$secondary-color: #f6f6f6;
$third-color: #95e1d3;
$fourth-color: #000;
$gradient: #f08e8b, #f2d38a;

$fullscreen: 1920px;
$content-size: 1200px;

$main-font: "Montserrat", sans-serif;
$secondary-font: "Kaushan Script", cursive;
$third-font: "Roboto", sans-serif;
